@font-face {
    font-family: 'Perpetua'; /*a name to be used later*/
    src: url('./fonts/Perpetua.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Luimp'; /*a name to be used later*/
    src: url('./fonts/Luimp Italic.ttf'); /*URL to font*/
}


*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    color: #909090;
    overflow-x: hidden;
}

html{
    width: 100vw;
    height: 100vh;
    
}



body{
    width: 100vw;
    height: 100vh;
    background-image: url('backSD.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    background-size:cover;
    background-position: center;
}

.rece{
    width: 15%;
}

.deta{
    width: 35%;
}

.hote{
    width: 70%;
}

.conf{
    width: 80%;
}

h2{
    font-family: 'Luimp', sans-serif;
    font-size: 1.3rem;
}

p{
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.7rem;
    width: 90%;
}


button{
    width: 60%;
    background-color: #b4b8a700; 
    border: none;
    border-radius: 50px;
    padding: 5px 10px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.7rem;
    color: #909090;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section{
    width: 90vw;
    height: 100vh;
    margin: 20px;
    background-image: url('papel1.jpg');
    background-repeat: repeat;
    background-size: auto 100%;
    border-radius: 20px;
    filter: drop-shadow(-5px 5px 4px #464646);
}

.section1{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap:0%;
    background-image: url('portada.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto 100%;
    background-position: center;
    
}

.solid_black{
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #ffffff00 55%, #000000 100%);
    
}

.solid_green{
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #ffffff00 55%, #b4b8a7 100%);
    
}

.s1_1{
    padding: 2% 0 10% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
}

.s1_2{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:4%;
}

.s2_1{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.s2_2{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* gap: 10%; */
}

.Maternos{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.Paternos{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



.s2_3{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.s2_4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    font-family: 'Luimp', sans-serif;
}

.s2_5{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10%;
}

.section4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5%;
}

.dresscode{
    width: 85vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.adulto{
    width: 85vw;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    text-align: left;
}

.section5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10%;
}

.mesa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.hotel{
    width: 85vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.section6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15%;
}

.section7{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15%;
}

@media screen and (max-width: 922px){

    .title{
        width: 50%;
    }

    body{
        width: 100vw;
        height: 100vh;
        background-image: url('backSD.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size:100%;
        background-position: center;
    }
    .rece{
        width: 25%;
    }
    
    .deta{
        width: 25%;
    }
    
    .hote{
        width: 35%;
    }
    
    .conf{
        width: 40%;
    }

    p{
        width: 60%;
        font-size: 1.8rem;
    }

    button{
        font-size: 1.8rem;
    }

    .section{
        width: 85vw;
        height: 100vh;
        margin: 10px;
        background-image: url('papel1.jpg');
        background-repeat: repeat;
        background-size: 100%;
        border-radius: 20px;
        filter: drop-shadow(-5px 5px 4px #898989);
    }

    .s1_1{
        padding: 5% 0 10% 0;
    }

    .mesa{
        width: 90%;
    }

    .hotel{
        width: 90%;
    }

    .section7{
        height: 50vh;
    }

    .adulto{
        width: 65vw;
    }
}

@media screen and (max-width: 768px){

    .title{
        width: 70%;
    }
    .section{
        width: 85vw;
        height: 100vh;
        margin: 10px;
        background-image: url('papel1.jpg');
        background-repeat: repeat;
        background-size: 100%;
        border-radius: 20px;
        filter: drop-shadow(-5px 5px 4px #898989);
    }

    .section7{
        height: 50vh;
    }

    body{
        width: 100vw;
        height: 100vh;
        background-image: url('backSD.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size:cover;
        background-position: center;
    }

    p{
        font-size: 1.5rem;
    }

    button{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 600px){

    .title{
        width: 80%;
    }
p{
    font-size: 1.2rem;
    width: 90%;
}

p_s{
    font-size: 1.2rem;
}

p_d{
    font-size: 1.2rem;
}

button{
    font-size: 1.2rem;
}

.rece{
    width: 38%;
}

.deta{
    width: 35%;
}

body{
        width: 100vw;
        height: 100vh;
        background-image: url('backSD.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size:cover;
        background-position: center;
    }
}

@media screen and (max-width: 375px){
p{
    font-size: 1.1rem;
}

button{
    font-size: 1.1rem;
}

}

